<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphareborn.stochastik_app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="WuerfelMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    <activity
        android:name="MuenzMenu"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="test" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
            android:name="BaumMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="FelderMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="UrneMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
